<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConvoTracker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ConvoTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>thingy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD58B7141B3F051E00621AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD58B72B1B3F051E00621AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD58B77A1B432FDA00621AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD6E45E1B8CC3B800557392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADD6E4681B8CC3B800557392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
